<!DOCTYPE html>
<html lang = 'en'>

<head>    
    <style>
        body {
          background-image: url('https://c4.wallpaperflare.com/wallpaper/9/737/99/carbon-fiber-textured-texture-minimalism-wallpaper-preview.jpg');
        }
        </style>
    <meta charset= 'UTF-8'>
    <meta name= 'viewport' content= 'width-device-width, initial-scale= 1.0'>
    <title>MPG</title>
</head>
<body>
    <center>
        <br><br>
        <h1 style= 'color: white'>Eda_Happy</h1>
        <br><br>
        <!--About-->
        <form method= 'POST' action= 'http://127.0.0.1:5000/about'>
        <button style= "height: 45px; width: 200px; font-size: 20px; text-align: center; line-height: 20px; background-color: orange; color: cornsilk; type= 'button' class= 'btn btn-info'""> About </button>
        </form>
        <br><br>
    </center>
    <center>
        <form method= 'POST' action= 'http://127.0.0.1:5000/dataset'>
        <button style= "height: 45px; width: 200px; font-size: 20px; text-align: center; line-height: 20px; background-color: green
        ; color: cornsilk; type= 'button' class= 'btn btn-info'""> DataSet </button>
        </form>
    </center>
</body>
</html>