<!DOCTYPE html>
<html lang= 'en'>
    <head>
        <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
        <style>
            body {
              background-image: url('https://c4.wallpaperflare.com/wallpaper/9/737/99/carbon-fiber-textured-texture-minimalism-wallpaper-preview.jpg');
            }
            </style>
        <meta charset= 'UTF-8'>
        <meta name= 'viewport' content= 'width-device-width, initial-scale= 1.0'>
        <title>About</title>
    </head>
    <body>   
        <center>
            <br><br>
            <h1 style= 'color: white'> Business Insight </h1>
            <img src = '../static/Happy1.png' style="background-color:orange;" width= '800' height= '300'>
            <p style= 'color: white'>Central Tendency (Titik Pusat Data)</p>
            <br><br>
            <br><br>
            <img src = '../static/Happy2.png' style="background-color:orange;" width= '600' height= '300'>
            <p style= 'color: white'>Dispersion (Persebaran Data)</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy3.png' style="background-color:orange;" width= '600' height= '300'> 
            <p style= 'color: white'>Dispersion (Persebaran Data)</p>
            <br><br>
            <br><br>
            <h1> </h1>
            <img src = '../static/Happy4.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>Dispersion (Persebaran Data)</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy5.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>Distribution (Distribusi Data)</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy6.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>Distribution (Distribusi Data)</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy7.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>kolom Social support memiliki lower outliers sebanyak 4</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy8.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>kolom Freedom to make life choices memiliki persebaran data terbanyak di 0.3 sampai 0.5+ dan memiliki positive tail / memiliki lower outliers</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy9.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>Zimbabwe, Zambia, Yemen, Vietnam dan Venezuela merupakan 5 negara yang memiliki GDP per capita tertinggi</p>
            <br><br>
            <br><br>
            <h1></h1>
            <img src = '../static/Happy10.png' style="background-color:orange;" width= '600' height= '300'>  
            <p style= 'color: white'>Afghanistan, Albania, Algeria, Argentina dan Armenia merupakan 5 negara yang memiliki Perceptions of corruption terendah</p>
        </center>
<h1 style= 'color: white'>apakah ada perbedaan Score antara negara yang GDP per capita nya di atas rata-rata dengan yang di bawah rata-rata?</h1>
<br><br>
<p style= 'color: white'>Terdapat perbedaan Score antara negara yang GDP per capitanya di atas rata-rata dengan yang di bawah rata-rata, tetapi tidak begitu signifikan sekali.</p>
<br><br>
    </body>
    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
</html>